<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sistema multimodal para detecção de emoções - Resultados</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='tailwind.css') }}">
    <link rel="stylesheet" href="../static/tailwind.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="flex flex-wrap h-screen w-screen justify-between py-4 px-4">
        <div class="w-1/2 h-1/2 content-center">
            <h1 class="text-xl">Análise dos resultados através do áudio</h1>
            <table class="table-auto w-2/3 mt-4">
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Raiva</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['angry'] }}</td>
                </tr>
                <tr class="border">
                    <th scope="col" class="px-4 py-2">Desgosto</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['disgust'] }}</td>
                </tr>
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Medo</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['fear'] }}</td>
                </tr>
                <tr class="border">
                    <th scope="col" class="px-4 py-2">Feliz</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['happy'] }}</td>
                </tr>
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Calmo</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['neutral'] }}</td>
                </tr>
                <tr class="border">
                    <th scope="col" class="px-4 py-2">Triste</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['sad'] }}</td>
                </tr>
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Surpreso</th>
                    <td class="border text-center">{{ data['predictions_from_audio']['surprise'] }}</td>
                </tr>
            </table>
        </div>
        <div class="w-1/2 h-1/2 content-center">
            <h1 class="text-xl">Análise dos resultados através dos frames</h1>
            <table class="table-auto w-2/3 mt-4">
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Raiva</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['angry'] }}</td>
                </tr>
                <tr class="border">
                    <th scope="col" class="px-4 py-2">Desgosto</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['disgust'] }}</td>
                </tr>
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Medo</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['fear'] }}</td>
                </tr>
                <tr class="border">
                    <th scope="col" class="px-4 py-2">Feliz</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['happy'] }}</td>
                </tr>
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Calmo</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['neutral'] }}</td>
                </tr>
                <tr class="border">
                    <th scope="col" class="px-4 py-2">Triste</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['sad'] }}</td>
                </tr>
                <tr class="border bg-gray-100">
                    <th scope="col" class="px-4 py-2">Surpreso</th>
                    <td class="border text-center">{{ data['predictions_from_frames']['surprise'] }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>